extends ../layout
block content
  h1 Books
  form.form-inline(action='/books', method='GET')
    input.form-control.mr-sm-2(name='q', placeholder="Enter book's name")
    button.btn.btn-primary(type='submit') Search
  p
    a.btn.btn-primary(href='/books/add') Add new
  table.table.table-bordered
    thead
      tr
        th Title
        th Actions
    tbody
      each book in books
        tr
          td #{book.title}
          td(class="actions")
            a.btn.btn-primary(href='/books/' + book.id + '/view') View
            a.btn.btn-warning(href='/books/' + book.id + '/edit') Edit
            a.btn.btn-danger(href='/books/' + book.id + '/delete') Delete
  nav(aria-label='...')
    ul.pagination
      li.page-item(class=pagination.prev ? "" : "disabled")
        a.page-link(href='/books?page=' + pagination.prev, tabindex='-1', aria-disabled='true') Previous
      if pagination.prev
        li.page-item
          a.page-link(href='/books?page=' + pagination.prev) #{pagination.prev}
      li.page-item.active(aria-current='page')
        a.page-link(href='/books?page=' + pagination.page) #{pagination.page}
          span.sr-only (current)
      if pagination.next
        li.page-item
          a.page-link(href='/books?page=' + pagination.next) #{pagination.next}
      li.page-item(class=pagination.next ? "" : "disabled")
        a.page-link(href='/books?page=' + pagination.next) Next