extends ../layout
block content
  h1 
    span.toCapitalize.mr-2 #{shop.name}
    if shopMain
      a.btn.btn-success(href='/shops/books/add') Add new book
  form.form-inline(action='/shops/' + shop.id + '/books', method='GET')
    input.form-control.mr-sm-2(name='q', placeholder="Enter book's name")
    button.btn.btn-primary(type='submit') Search
  table.table.table-bordered
    thead
      tr
        th Cover
        th Title
        th Actions
    tbody
      each book in books
        tr
          td
            img(src=book.coverUrl, style="width: 60px")
          td.book-title #{book.title}
          td(class="actions")
            a.btn.btn-primary(href='/books/' + book.id + '/view') View
            if shopMain
              a.btn.btn-warning(href='/shops/books/' + book.id + '/edit') Edit
              a.btn.btn-danger(href='/shops/books/' + book.id + '/delete') Delete
            else
              a.btn.btn-success(href='/cart/add/' + book.id) Add To Cart
  nav(aria-label='...')
    ul.pagination
      li.page-item(class=pagination.prev ? "" : "disabled")
        a.page-link(href='/shops/' + shop.id + '/books?page=' + pagination.prev, tabindex='-1', aria-disabled='true') Previous
      if pagination.prev
        li.page-item
          a.page-link(href='/shops/' + shop.id + '/books?page=' + pagination.prev) #{pagination.prev}
      li.page-item.active(aria-current='page')
        a.page-link(href='/shops/' + shop.id + '/books?page=' + pagination.page) #{pagination.page}
          span.sr-only (current)
      if pagination.next
        li.page-item
          a.page-link(href='/shops/' + shop.id + '/books?page=' + pagination.next) #{pagination.next}
      li.page-item(class=pagination.next ? "" : "disabled")
        a.page-link(href='/shops/' + shop.id + '/books?page=' + pagination.next) Next