extends ../layout
block content
  h1 Create transaction
  if errors
    each error in errors
      .alert.alert-danger= error
    form(action='/transactions/create', method='POST')
      div.mb-2
        h2 Users
        select.form-control(name='user')
          option(disabled='', selected='') Choose user
          each user in users
            if values.user
              - var x = false
              if user.id == values.user
                - x = true
            option(value=user.id, selected=x ? '' : null) #{user.id} - #{user.name}
      div.mb-2
        h2 Books
        each book, index in books
          if values.books
            - var y = false
            each valBook in values.books
              if valBook == book.id
                - y = true
          input(type='checkbox', name='books', value=book.id, checked=y ? '' : null)
          label(for='books')  #{book.title}
          br
      button.btn.btn-primary(type='submit') Create
  else
    form(action='/transactions/create', method='POST')
      div.mb-2
        h2 Users
        select.form-control(name='user')
          option(disabled='', selected='') Choose user
          each user in users
            option(value=user.id) #{user.id} - #{user.name}
      div.mb-2
        h2 Books
        each book, index in books
          input(type='checkbox', name='books', value=book.id)
          label(for='books')  #{book.title}
          br
      button.btn.btn-primary(type='submit') Create