extends ../layout
block content
  h1 Transactions
  form.form-inline(action='/transactions', method='GET')
    input.form-control.mr-sm-2(name='q', placeholder="Enter transaction id")
    button.btn.btn-primary(type='submit') Search
  p
    a.btn.btn-primary(href='/transactions/create') Add new
  table.table.table-bordered
    thead
      tr
        th ID
        th User
        th Books
        th Finish
        th Actions
    tbody
      each transaction in transactions
        tr
          td #{transaction.id}
          td #{transaction.user}
          td #{transaction.books.length}
          td
            if transaction.isComplete
              a.btn.btn-success(href='/transactions/' + transaction.id + '/complete') Yes
            else
              a(href='/transactions/' + transaction.id + '/complete') No
          td(class="actions")
            a.btn.btn-primary(href='/transactions/' + transaction.id + '/view') View
            a.btn.btn-warning(href='/transactions/' + transaction.id + '/edit') Edit
            a.btn.btn-danger(href='/transactions/' + transaction.id + '/delete') Delete
  nav(aria-label='...')
    ul.pagination
      li.page-item(class=pagination.prev ? "" : "disabled")
        a.page-link(href='/transactions?page=' + pagination.prev, tabindex='-1', aria-disabled='true') Previous
      if pagination.prev
        li.page-item
          a.page-link(href='/transactions?page=' + pagination.prev) #{pagination.prev}
      li.page-item.active(aria-current='page')
        a.page-link(href='/transactions?page=' + pagination.page) #{pagination.page}
          span.sr-only (current)
      if pagination.next
        li.page-item
          a.page-link(href='/transactions?page=' + pagination.next) #{pagination.next}
      li.page-item(class=pagination.next ? "" : "disabled")
        a.page-link(href='/transactions?page=' + pagination.next) Next